NODE_ENV=development
DATABASE_URL=
HTTP_PORT=8012
GRPC_PORT=10004
LOG_LEVEL="debug"
INITIAL_SYNC_KEY=
WALLET_ADDRESS=localhost:10001
TRANSACTION_ADDRESS=localhost:10002
INVESTMENT_ADDRESS=localhost:10003
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VIRTUAL_HOST=